---
import "@workspace/ui/globals.css"

interface Props {
  title?: string
  description?: string
  lang?: string
}

const {
  title = "CHMONYA BARBER",
  description = "CHMONYA BARBER v Košiciach.",
  lang = "sk",
} = Astro.props
---

<html lang={lang} class="dark scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#171717" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/infinity/shop.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="/infinity/shop.jpg" />
    <title>{title}</title>
  </head>
  <body class="bg-background text-foreground min-h-svh antialiased">
    <slot />
  </body>
</html>
